
<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''" >
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">B</button>
    <div class="logo-text" *ngIf="collapsed">Blueriq</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <button (click)="selectElement()" class="sidenav-button-select" *ngIf="collapsed">Select Element</button>
    <li class="sidenav-nav-item" *ngFor="let data of toolData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.labelName}}</span>
        <input type="text" class="sidenav-link-text-area" *ngIf="collapsed" [value]="nameInfo">
      </a>
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.labelPlaceholder}}</span>
        <input type="text" class="sidenav-link-text-area" *ngIf="collapsed" [value]="placeholderInfo">
      </a>
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.labelType}}</span>
        <input type="text" class="sidenav-link-text-area" *ngIf="collapsed" [value]="typeInfo">
      </a>
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.labelName}}</span>
        <input type="text" class="sidenav-link-text-area" *ngIf="collapsed">
      </a>
    </li>
    <button class="sidenav-button-update" *ngIf="collapsed">Send Update</button>
  </ul>
</div>

<div class="body-content" #contentContainer>
  <h1>CONTENT</h1>
  <h2>Name</h2>
  <input placeholder="name">
  <h2>Name2</h2>
  <input placeholder="name2">
  <br>
  <br>
  <br>
  <br>
  <br>


  <table *ngIf="components && components.length > 0">
    <tbody>
    <tr *ngFor="let ComponentData of components">
      <td>{{ ComponentData.name }}</td>
    </tr>
    </tbody>
  </table>






  <div>
    {{ elementInfo }}
  </div>

</div>
